.header{
  margin-left: 1%;
  margin-top: 1%;
}
.youtube-logo{
  height: 20px;
}
.menu-channel-icon{ 
  border-radius: 50%;
}
#searchPane{
  margin-top: 1%;
}
.search-bar{
  height: 25px;
  width: 100%;
  font-size: inherit;
  padding: .4em;
  border: 1px solid #777;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-btn{
  display: flex;
  height: 25px;
  align-items: center;
  padding: 0 1.25rem;
  border: 1px solid #777;
  background-color: #f8f8f8;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.search-btn:hover{
  background-color: #f0f0f0;
}
@media screen and (max-width: 768px) {
  
  .search-bar{
      width: 80%;
      margin-left: 20%;
  }
}
