<header class="header">
    <a>
        <img src="/assets/img/logo.png" alt="YouTube Logo" class="youtube-logo" />
    </a>
    <form class="search-bar">
        <input class="search-input" type="search" placeholder="Search" aria-label="Search" />
        <button mat-button aria-label="Search icon" class="search-btn">
            <mat-icon>search</mat-icon>
        </button>
    </form>
    <div class="menu-icons">
        <app-create></app-create>
        <app-all-app></app-all-app>
        <app-notification></app-notification>
        <a>
            <img src="http://unsplash.it/36/36?gravity=center" alt="Your Channel" class="menu-channel-icon">
        </a>
    </div>
</header>
<div class="categories">
    <section class="category-section">
        <button class="category active">All</button>
        <button class="category">Categoey 1</button>
        <button class="category">Categoey 2</button>
        <button class="category">Categoey 3</button>
        <button class="category">Categoey 4</button>
        <button class="category">Categoey 5</button>
        <button class="category">Categoey 6</button>
        <button class="category">Categoey 7</button>
        <button class="category">Categoey 8</button>
        <button class="category">Categoey 9</button>
        <button class="category">Categoey 10</button>
        <button class="category">Categoey 11</button>
        <button class="category">Categoey 12</button>
        <button class="category">Categoey 13</button>
        <button class="category">Categoey 14</button>
    </section>
</div>
<div class="=videos">
    <section class="video-section">
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="23:42">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="video-section">
        <h2 class="video-section-title">
            Special Section
            <button class="video-section-title-close">&times;</button>
        </h2>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="23:42">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="video-section">
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="23:42">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="video-container">
            <a class="thumbnail" data-duration="33:12">
                <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
            </a>
            <div class="video-bottom-section">
                <a>
                    <img class="channel-icon"  src="http://unsplash.it/36/36?gravity=center" />
                </a>
                <div class="video-details">
                    <a class="video-title">Video Title</a>
                    <a class="video-channel-name">Channel Name</a>
                    <div class="video-metadata">
                        <span>45k views</span>
                        •
                        <span>1 week ago</span>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>